.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
    color: white;
}

.nav-logo {
    font-family: Outfit;
    font-size: 40px;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 18px;
    gap: 90px;
}

.nav-menu li a {
    text-decoration: none;
}

.nav-contact {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #fff;
    color: #262626;
}